* {
    margin: 5px;
    padding: 0;
}

body {
    background-color: rgb(208, 167, 234);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}


main form {
    margin: 0 auto;
    background-color: #ccc ;
    border-radius: 8%;
    text-align: center;
    padding: 25px 0;
    max-width: 750px;
}


#tele {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Dt:hover {
    cursor: text;
}


.FM:hover {
    cursor: pointer;
}

.MS:hover {
    cursor: pointer;
}

#texto {
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: 200px;
    resize: none;
}

.btn {
    font-size: 22px;
    margin-top:40px ;
    transition-duration: .9s;
    background-color: #0cf;
    border-radius: 10rem;
    width: 130px;
    height: 50px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.btn:first-child{
    margin-right: 80px;
}

.btn:hover {
    color: rgb(255, 255, 255);
    background-color: blue;
    transition-duration: .5s;
    cursor: pointer;
}